
.worker-info{
   display: flex;
   flex-direction: column;
   align-items: flex-start;   
}

.worker-info p{
    white-space: nowrap;
}


.test{
    position: absolute;
    z-index: 50;
    left: 2px;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;  
}

.cell-button{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: not-allowed;
}